body {
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
}

.container {
    width: 1600px;
}

input {
    /*outline: none;*/
    border: none;
}

.cells {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
    color: #424141;
    margin: 4px 0;
}

.cells input {
    /*width: 100%;*/
    text-align: right;
}

.section {
    display: inline-block;
}

.author {
    width: 100%;
}

.author-row {
    border-bottom: 1px solid #ccc;
}

.label {
    padding: 0.5em 1em;
    font-size: 100%;
    font-weight: normal;
    border-radius: 0;
}

.pale .label-danger {
    background-color: #EFB4B2;
}

.pale .label-info {
    background-color: #B8ECEF;
}

.pale .label-success {
    background-color: #C1EAC1;
}

.pale .label-warning {
    background-color: #FFE1B3;
}

.pale .label-danger:hover {
    background-color: #FF786D;
}

.pale .label-info:hover {
    background-color: #87eff5;
}

.pale .label-success:hover {
    background-color: #a1eaa2;
}

.pale .label-warning:hover {
    background-color: #ffd389;
}

.pale .label {
    color: inherit;
}

span.add-book {
    opacity: 0;
}

span.add-book:hover {
    opacity: 1;
}

.book-menu {}

.book-menu .label {
    margin: 0;
    width: 100%;
    text-align: left;
}

.book-menu span {
    width: 100%;
    text-align: left;
    margin: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    border: none;
}

.nav-pills>li>a {
    border-radius: 0;
}

a.label:hover {
    color: inherit;
}
